@import 'mixins';
@import 'animations';
@import 'card';

$photoSize: 90px;
$cardRadius: 6px;


html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
	background-color: #EFEFEF;
	font: normal 300 16px/1.5 'Roboto Slab', serif;
}

.app {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.card {
	&-container,
	&-face {
		height: 480px;
		width: 320px;
		border-radius: $cardRadius;
	}

	&-container {
		@extend %vertical-align;
		margin: 0 auto;
		-webkit-animation: breathing cubic-bezier(0.215, 0.610, 0.355, 1.000) 12s infinite;
		animation: breathing cubic-bezier(0.215, 0.610, 0.355, 1.000) 12s infinite;
		&.stopAnimation {
			@extend %pause-animation;
		}
	}

	&-face {
		-webkit-animation: breathing-shadow cubic-bezier(0.215, 0.610, 0.355, 1.000) 12s infinite;
		animation: breathing-shadow cubic-bezier(0.215, 0.610, 0.355, 1.000) 12s infinite;
		.card-container.stopAnimation & {
			@extend %pause-animation;
		}
	}

	&-front {
		padding: 0 20px;

		&.color-white .card-footer{
			border-top: 1px solid rgba(white, 0.3);
			color: rgba(white, 0.5);
		}

		&.color-black .card-footer {
			border-top: 1px solid rgba(black, 0.2);
			color: rgba(black, 0.5);
		}
	}

	&-back {
		padding-top: 100px;
		.card-inner {
			border-bottom-left-radius: $cardRadius;
			border-bottom-right-radius: $cardRadius;
			background-color: rgba(#F9F9F9, 1);
			padding: 0 20px;
		}
		.card-footer {
			border-top: 1px solid rgba(black, 0.05);
			color: rgba(black, 0.5);
		}
	}

	&-inner {
		position: relative;
		height: 100%;
	}

	&-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 60px;
		width: 100%;
		padding: 18px 0;
		text-align: center;
	}
}

.greeting {
	// @extend %vertical-align;
	font: 50px/1.5 'Amatic SC', cursive;
	text-align: center;
	padding-top: 60%;

	.card-face.color-white & {
		color: rgba(#fff, 1);
	}

	.card-face.color-black & {
		color: rgba(#000, 1);
	}
}

.photo {
	position: absolute;
	width: 88%;
	text-align: center;
	margin: (-($photoSize/2)) 0 20px;

	.img {
		display: block;
		width: $photoSize;
		height: $photoSize;
		position: relative;
		margin: 0 auto;
		border-radius: ($photoSize/4);

		// background-image: url(../../images/me_hat.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

.about {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: (($photoSize / 2) + 10);

	.name {
		display: block;
		position: relative;
		font-size: 25px;
		font-weight: 300;
	}
	.title {
		display: block;
		position: relative;
		font-size: 16px;
		font-weight: 100;
	}
}

.tags {
	height: 200px;
	margin: 20px 0;

	.tag {
		$baseColor: #0AACD2;
		// $baseColor: #888;
		// $baseColor: #6D577E;

		display: block;
		float: left;
		padding: 8px 16px;
		margin: 2.5px;

		border-radius: ($cardRadius/2);

		color: black;
		border: 2px solid;
		border-color: rgba($baseColor, 0.2);

		// color: white;
		// background-color: rgba($baseColor, 0.5);

		&.type-framework,
		&.weight-strong {
			border-color: rgba($baseColor, 1);
			// background-color: rgba($baseColor, 1);
		}

		&.type-preprocessor,
		&.weight-medium {
			border-color: rgba($baseColor, 0.5);
			// background-color: rgba($baseColor, 0.7);
		}
	}
}
