@import 'mixins';
@import 'animations';
@import 'card';

body {
	background-color: #EFEFEF;
	font: 16px/1.5 'Martel', serif;
	// font-family: 'Amatic SC', cursive;
}

.app {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.card {
	&-container,
	&-front,
	&-back {
		height: 480px;
		width: 320px;
		border-radius: 6px;
	}

	&-container {
		@extend %vertical-align;
		margin: 0 auto;
		-webkit-animation: breathing cubic-bezier(0.215, 0.610, 0.355, 1.000) 12s infinite;
		animation: breathing cubic-bezier(0.215, 0.610, 0.355, 1.000) 12s infinite;
		&.stopAnimation {
			@extend %pause-animation;
		}
	}

	&-front,
	&-back {
		-webkit-animation: breathing-shadow cubic-bezier(0.215, 0.610, 0.355, 1.000) 12s infinite;
		animation: breathing-shadow cubic-bezier(0.215, 0.610, 0.355, 1.000) 12s infinite;
		.card-container.stopAnimation & {
			@extend %pause-animation;
		}
	}
}
