<div class="card-container"
     ng-class="{
     	'showBack': !isFrontShown,
     	'stopAnimation': runAnimation == false
     }"
     ng-click="flipCard()"
     ng-mouseenter="pauseAnimation()"
     ng-mouseleave="playAnimation()">

	<div class="card">
		<dynamic:card face="front" fancy-time="fancyTime">
			<div class="card-content">
				<div class="greeting"
					 ng-bind-html="utils.sanitize(greetingText)">
				</div>
			</div>
			<div class="card-footer"
				 ng-bind-html="utils.sanitize(footerText)">
			</div>
		</dynamic:card>

		<dynamic:card face="back">
			<div class="card-content">
				<div class="photo">
					<span class="img"
						  ng-style="{'background-image': 'url({{photo}})'}">
					</span>
				</div>

				<div class="about">
					<span class="name">Thalida Noel</span>
					<span class="title">Mobile Web Developer</span>
					<span class="title">OkCupid</span>
				</div>

				<div class="tags">
					<span class="tag"
						  ng-style="{
						  	'border-color': '{{getTagColor(skill)}}'
						  }"
						  ng-class="'weight-' + skill.weight"
						  ng-repeat="(key, skill) in skills">
						  {{skill.label}}
					</span>
				</div>
			</div>
			<div class="card-footer">
				social links
			</div>
		</dynamic:card>
	</div>
</div>
