.card-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.card-container.stopAnimation, .card-container.stopAnimation .card-face {
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.card-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.card-container.stopAnimation, .card-container.stopAnimation .card-face {
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

@-webkit-keyframes breathing {
  0%,
  100% {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); } }

@-moz-keyframes breathing {
  0%,
  100% {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); } }

@-ms-keyframes breathing {
  0%,
  100% {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); } }

@keyframes breathing {
  0%,
  100% {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); } }

@-webkit-keyframes breathing-shadow {
  0%,
  100% {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  50% {
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.1); } }

@-moz-keyframes breathing-shadow {
  0%,
  100% {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  50% {
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.1); } }

@-ms-keyframes breathing-shadow {
  0%,
  100% {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  50% {
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.1); } }

@keyframes breathing-shadow {
  0%,
  100% {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  50% {
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.1); } }

.card {
  transition: 2.5s;
  transform-style: preserve-3d;
  position: relative; }
  .card-container {
    perspective: 1000;
    transform-style: preserve-3d; }
  .card-container,
  .card-face {
    width: 320px;
    height: 480px; }
  .card-face {
    backface-visibility: hidden;
    transition: 2.5s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0; }
  .card-front {
    z-index: 2;
    transform: rotateY(0deg); }
    .card-container.showBack .card-front {
      transform: rotateY(180deg); }
  .card-back {
    transform: rotateY(-180deg); }
    .card-container.showBack .card-back {
      transform: rotateY(0deg); }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #EFEFEF;
  font: normal 300 16px/1.5 "Roboto Slab", serif; }

.app {
  position: relative;
  height: 100vh;
  width: 100vw; }

.card-container,
.card-face {
  height: 480px;
  width: 320px;
  border-radius: 6px; }

.card-container {
  margin: 0 auto;
  -webkit-animation: breathing cubic-bezier(0.215, 0.61, 0.355, 1) 12s infinite;
  animation: breathing cubic-bezier(0.215, 0.61, 0.355, 1) 12s infinite; }

.card-face {
  -webkit-animation: breathing-shadow cubic-bezier(0.215, 0.61, 0.355, 1) 12s infinite;
  animation: breathing-shadow cubic-bezier(0.215, 0.61, 0.355, 1) 12s infinite; }

.card-front {
  padding: 0 20px; }
  .card-front.color-white .card-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.5); }
  .card-front.color-black .card-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.5); }

.card-back {
  padding-top: 100px; }
  .card-back .card-inner {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #f9f9f9;
    padding: 0 20px; }
  .card-back .card-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.5); }

.card-inner {
  position: relative;
  height: 100%; }

.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  padding: 18px 0;
  text-align: center; }

.greeting {
  font: 50px/1.5 'Amatic SC', cursive;
  text-align: center;
  padding-top: 60%; }
  .card-face.color-white .greeting {
    color: white; }
  .card-face.color-black .greeting {
    color: black; }

.photo {
  position: absolute;
  width: 88%;
  text-align: center;
  margin: -45px 0 20px; }
  .photo .img {
    display: block;
    width: 90px;
    height: 90px;
    position: relative;
    margin: 0 auto;
    border-radius: 22.5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }

.about {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 55px; }
  .about .name {
    display: block;
    position: relative;
    font-size: 25px;
    font-weight: 300; }
  .about .title {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 100; }

.tags {
  height: 200px;
  margin: 20px 0; }
  .tags .tag {
    display: block;
    float: left;
    padding: 8px 16px;
    margin: 2.5px;
    border-radius: 3px;
    color: black;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.2); }
