@-webkit-keyframes breathing {
  0%,
  100% {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); } }

@-moz-keyframes breathing {
  0%,
  100% {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); } }

@-ms-keyframes breathing {
  0%,
  100% {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); } }

@keyframes breathing {
  0%,
  100% {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); } }

@-webkit-keyframes breathing-shadow {
  0%,
  100% {
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1); }
  50% {
    box-shadow: 12px 12px 3px rgba(0, 0, 0, 0.05); } }

@-moz-keyframes breathing-shadow {
  0%,
  100% {
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1); }
  50% {
    box-shadow: 12px 12px 3px rgba(0, 0, 0, 0.05); } }

@-ms-keyframes breathing-shadow {
  0%,
  100% {
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1); }
  50% {
    box-shadow: 12px 12px 3px rgba(0, 0, 0, 0.05); } }

@keyframes breathing-shadow {
  0%,
  100% {
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1); }
  50% {
    box-shadow: 12px 12px 3px rgba(0, 0, 0, 0.05); } }
