.card-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.card-container.stopAnimation, .card-container.stopAnimation .card-front,
.card-container.stopAnimation .card-back {
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.card-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.card-container.stopAnimation, .card-container.stopAnimation .card-front,
.card-container.stopAnimation .card-back {
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

@-webkit-keyframes breathing {
  0%,
  100% {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); } }

@-moz-keyframes breathing {
  0%,
  100% {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); } }

@-ms-keyframes breathing {
  0%,
  100% {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); } }

@keyframes breathing {
  0%,
  100% {
    -webkit-transform: translateY(-50%) scale(0.95);
    transform: translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); } }

@-webkit-keyframes breathing-shadow {
  0%,
  100% {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  50% {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1); } }

@-moz-keyframes breathing-shadow {
  0%,
  100% {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  50% {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1); } }

@-ms-keyframes breathing-shadow {
  0%,
  100% {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  50% {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1); } }

@keyframes breathing-shadow {
  0%,
  100% {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  50% {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1); } }

.card {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative; }
  .card-container {
    perspective: 1000;
    transform-style: preserve-3d; }
  .card-container,
  .card-front,
  .card-back {
    width: 320px;
    height: 480px; }
  .card-front,
  .card-back {
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0; }
  .card-front {
    z-index: 2;
    transform: rotateY(0deg); }
    .card-container.showBack .card-front {
      transform: rotateY(180deg); }
  .card-back {
    transform: rotateY(-180deg); }
    .card-container.showBack .card-back {
      transform: rotateY(0deg); }

body {
  background-color: #EFEFEF; }

.app {
  position: relative;
  height: 100vh;
  width: 100vw; }

.card-container {
  margin: 0 auto;
  -webkit-animation: breathing cubic-bezier(0.215, 0.61, 0.355, 1) 12s infinite;
  animation: breathing cubic-bezier(0.215, 0.61, 0.355, 1) 12s infinite; }

.card-container,
.card-front,
.card-back {
  height: 480px;
  width: 320px;
  border-radius: 6px; }

.card-front,
.card-back {
  -webkit-animation: breathing-shadow cubic-bezier(0.215, 0.61, 0.355, 1) 12s infinite;
  animation: breathing-shadow cubic-bezier(0.215, 0.61, 0.355, 1) 12s infinite; }

.card-front {
  background-color: #323C64; }

.card-back {
  background-color: #F9F9F9; }
