.card {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative; }
  .card-container {
    perspective: 1000;
    transform-style: preserve-3d; }
  .card-container,
  .card-front,
  .card-back {
    width: 320px;
    height: 480px; }
  .card-front,
  .card-back {
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0; }
  .card-front {
    z-index: 2;
    transform: rotateY(0deg); }
    .card-container.flip .card-front {
      transform: rotateY(180deg); }
  .card-back {
    transform: rotateY(-180deg); }
    .card-container.flip .card-back {
      transform: rotateY(0deg); }
